/* .backgroundImg{
    background-image: url("../images/hurricane-ridge-7.30.16-18-of-77.png");
    background-size: cover;
    position: cover;
    height: 100vh;
} */

body{
    background-image: url("../images/hurricane-ridge-7.30.16-18-of-77.png");
    
}

.starImg{
    background-image: url("../images/Icon\ feather-star.png");
    width: 89px;
    height: 85px;
}

.filledStarImg{
    background-image: url("../images/Icon\ feather-starFilled.png");
    width: 89px;
    height: 85px;
}

.blackstarImg{
    background-image: url("../images/Icon\ feather-star-smol.png");
    width: 36px;
    height: 35px;
}

.blackstarImg:checked{
    background-image: url("../images/Icon\ feather-starfilledFavorited!.png");
    width: 36px;
    height: 35px;
}

.offcanvas{
    transition: transform .3s ease-in-out;
}

input{
    padding-top: 5px;
    padding-left: 20px;
    height: 50px;
    width: 600px;
}


::placeholder{
    font-family: 'Helvetica Neue','Segoe UI';
    font-weight: 350;
    font-size: 1.5rem;
    color: #707070;
}

.inputFieldTxt{
    font-family: 'Helvetica Neue','Segoe UI';
    font-weight: 350;
    font-size: 1.5rem;
    color: #707070;
    outline: none;
}

.btnStyling{
    background-color: #332011;
    width: 100px;
    height: 50px;
    font-family: 'Helvetica Neue','Segoe UI';
    font-size: 1.5rem;
    color: white;
    border: black;
    margin-left: 25px;
}

.btnStyling:hover{
    background-color: #5B391E;

}


.navBarSize{
    padding-left: 3px;
    padding-top: 10px;
}

/* card Styling! */

.cardStyling{
    opacity: 100%;
    background-color: rgba(255, 255, 255, 0.598);
    border-color: #332011;
    border-radius: 0.5rem;
    border-width: .15rem;
}

.smallerCardStyling{
    background-color: rgba(255, 255, 255, 0.598);
    border-color: #6a9bd2bb;
    border-radius: 1rem;
    border-width: .25rem;
}

.cardLrgTxt{
    font-family: 'Helvetica Neue','Segoe UI';
    font-size: 4rem;
    color: #000000;
    opacity: 100% !important;

}

.cardLrgTemperature{
    font-family: 'Helvetica Neue','Segoe UI';
    font-size: 3.5rem;
    color: #000000;
    opacity: 100% !important;

}

.cardDescriptionTxt{
    font-family: 'Helvetica Neue','Segoe UI';
    font-size: 1rem;
    color: black;
    opacity: 100% !important;

}

.CardTxtDatesAndTime{
    font-family: 'Helvetica Neue','Segoe UI';
    font-size: 1.5rem;
    color: black;
    opacity: 100% !important;

}

.cardTxtSmol{
    font-family: 'Helvetica Neue','Segoe UI';
    font-size: 1rem;
    color: black;
    opacity: 100% !important;

}

.cardTxtDataTypes{
    font-family: 'Helvetica Neue','Segoe UI';
    font-size: 1.25rem;
    color: black;
    opacity: 100% !important;
}

.marginBtmZero{
    margin-bottom: 0px;
}

/* Smaller cards under the main one  */


.smallerCardTitles{
    font-family: 'Helvetica Neue','Segoe UI';
    font-size: 2rem;
    font-weight: 350;
    color: black;
    opacity: 100% !important;
}