.backgroundImg{
    background-image: url("../images/hurricane-ridge-7.30.16-18-of-77.png");
    background-size: cover;
    position: cover;
    height: 100vh;
}

.starImg{
    background-image: url("../images/Icon\ feather-star.png");
    width: 89px;
    height: 85px;
}

input{
    padding-top: 5px;
    padding-left: 20px;
    height: 50px;
    width: 600px;
}


::placeholder{
    font-family: 'Helvetica Neue','Segoe UI';
    font-weight: 350;
    font-size: 1.5rem;
    color: #707070;
}

.inputFieldTxt{
    font-family: 'Helvetica Neue','Segoe UI';
    font-weight: 350;
    font-size: 1.5rem;
    color: #707070;
    outline: none;
}

.btnStyling{
    background-color: #332011;
    width: 100px;
    height: 50px;
    font-family: 'Helvetica Neue','Segoe UI';
    font-size: 1.5rem;
    color: white;
    border: black;
    margin-left: 25px;
}

.btnStyling:hover{
    background-color: #5B391E;

}


.navBarSize{
    padding-left: 3px;
    padding-top: 10px;
}

/* card Styling! */
.card{
    background-color: rgba(255, 255, 255, 0.598);
    border-color: #332011;
    border-radius: 0.5rem;
    border-width: .15rem;
}

/* .cardStyling{
    background-color: #FFFFFF;
    opacity: 100%;
} */

.cardLrgTxt{
    font-family: 'Helvetica Neue','Segoe UI';
    font-size: 4rem;
    color: #000000;
    opacity: 100% !important;

}

.cardLrgTemperature{
    font-family: 'Helvetica Neue','Segoe UI';
    font-size: 3.5rem;
    color: #000000;
    opacity: 100% !important;

}

.cardDescriptionTxt{
    font-family: 'Helvetica Neue','Segoe UI';
    font-size: 1rem;
    color: black;
    opacity: 100% !important;

}

.CardTxtDatesAndTime{
    font-family: 'Helvetica Neue','Segoe UI';
    font-size: 1.5rem;
    color: black;
    opacity: 100% !important;

}

.cardTxtSmol{
    font-family: 'Helvetica Neue','Segoe UI';
    font-size: 1rem;
    color: black;
    opacity: 100% !important;

}

.cardTxtDataTypes{
    font-family: 'Helvetica Neue','Segoe UI';
    font-size: 1.25rem;
    color: black;
    opacity: 100% !important;
}

.marginBtmZero{
    margin-bottom: 0px;
}

